@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Pacifico&family=Arimo:wght@400;700&display=swap');

body{
    margin:0px;
    padding:0px;
    font-size:16px;
    font-family: 'Inconsolata', monospace;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size:74px;
    background: rgb(0,245,255);
    background: linear-gradient(145deg, rgba(0,245,255,1) 0%, rgba(55,109,255,1) 50%, rgba(102,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 40px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    animation:pulse 10s infinite;
}

@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(0.97);
    }
    100% {
        transform:scale(1);
    }
}

.hero-head{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(to left top, #daeefd, #d7e9ff, #d8e4ff, #ddddff, #e6d5ff);
    overflow:hidden;
}

.hero-content{
    text-align:center;
    position:relative;
    z-index:2;
    padding:20px;
    width:100%;
    max-width:1000px;
}

.btn-gradient-purple, .btn-gradient-purple:hover, .btn-gradient-purple:visited, .btn-gradient-purple:active{
    color:#daeefd;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: rgb(0,245,255);
    background-image: linear-gradient(to right bottom, #39aaff, #0093ff, #0078ff, #2855ff, #6e00ff);
    transition:all 0.5s ease-in-out;
    transform:scale(1);
    border: 0px;
}

.btn-gradient-purple-alternative, .btn-gradient-purple-alternative:hover, .btn-gradient-purple-alternative:visited, .btn-gradient-purple-alternative:active{
    font-family: 'Arimo', sans-serif;
    color:#FFF;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: rgb(0,245,255);
    background:linear-gradient(to right,#22ddb7, #3fa0f0);
    transition:all 0.5s ease-in-out;
    transform:scale(1);
    border: 0px;
    font-weight:bold;
    box-shadow: rgba(17, 12, 46, 0) 0px 0px 0px 0px;
}

.btn-gradient-purple:hover, .btn-gradient-purple-alternative:hover{
    transform:scale(1.05);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 4px 4px 0px;
}

.underlined{
    font-weight:bold;
    color:rgba(55,109,255,1);
    position:relative;
    white-space: nowrap;
}

a.underlined:hover:after{
    transform:scale(0.6);
}

.a.underlined:after{
    transform:scale(1);
}

.underlined:after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-6px;
    width:100%;
    height:4px;
    background:linear-gradient(to right, #22ddb7, #3fa0f0);
    transition:all 0.5s ease-in-out;
}

.panel{
    background:linear-gradient(145deg, #22ddb7, #3fa0f0, #6600ff);
    border-radius:10px;
    padding:20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width:100%;
}

.panelInner{
    padding:2px;
    border-radius:10px;
    background-color:#FFF;
}

.panelHeader{
    font-family: 'Arimo', sans-serif;
    font-weight:bold;
    color:#FFF;
    margin-bottom:20px;
    position:relative;
    width:50%;
    text-align:left;
}

.panelHeader:after{
    content:"";
    background-color:#FFF;
    position:absolute;
    bottom:-10px;
    left:0px;
    width:76px;
    height:4px;
}

.input{
    background-color:#C6DEFF;
    border:0px;
    width:100%;
    height:30px;
    border-radius:10px;
    margin: 0px 10px;
    padding:20px;
}

.doimainInput:before{
    content: "https://";
    position: absolute;
    left: 15px;
    top: 18px;
}

.doimainInput{
    padding-right: 20px;
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alignMiddle{
    align-self:center;
    padding:0px 10px;
}

.btn100{
    width:calc(100% - 20px);
    display:inline-block;    
}

.spacer20{
    height:20px;
}

.glassText{
    font-family: 'Arimo', sans-serif;
    font-size:80px;
    font-weight:bold;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    color:#FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.domain{
    font-size:28px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chart{
    max-height: 400px;
}

.largeNumber{
    font-size:100px;
    font-weight:bold;
}

.height100{
    height:100%;
}
.users{
    margin: auto!important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}